@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
}

.slider-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.left-side {
   
    width: 35%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
}

.left-side div {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.left-side h1 {
    font-family: 'Merriweather';
    font-size: 35px;
    
}

p {
    font-size: 18px;
}

.right-side {
    width: 65%;
    left: 35%;
    top: 0;
    height: 100%;
    position: absolute;
    transition: transform 0.5s ease-in-out;
}

.right-side div {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

button {
    cursor: pointer;
    background-color: #fff;
    color: #aaa;
    font-size: 16px;
    padding: 15px;
    border-style: none;
}

button:hover {
    color: black;
}

.slider-container .buttons button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index:100;

}

.buttons .down-button {
    transform: translateX(-100%);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.buttons .up-button {
    transform: translateY(-100%);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}